// Reset annoying stuff
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-weight: normal;
}

:root {
    --color-primary: #7b61ffff;
    --color-success: #70d260ff;
    --color-error: #ff8686;
    --color-light-text: #ffffff9f;
    --color-dark-background: #222222ff;
    --color-darker-background: #1b1b1bff;
    --border-radius: 8px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    background: var(--color-darker-background);
    color: white;
}

* {
    font-family: 'Poppins', 'sans-serif';

    &::selection {
        color: white;
        background: var(--color-primary);
    }
}
