:root {
  --color-primary: #7B61FFFF;
  --color-error: #FF8686;
  --color-light-text: #FFFFFF9F;
  --color-dark-background: #222222FF;
  --color-darker-background: #1B1B1BFF;
  --border-radius: 8px;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,700&display=swap");

html {
  margin: 0;
  padding: 0;
  background: var(--color-darker-background);
  color: white;
}

* {
  font-family: "Poppins", "sans-serif";
}