.hljs-number,
.hljs-string,
.hljs-title,
.hljs-attr {
	font-family: 'JetBrains Mono', 'monospace';
}

.hljs-number,
.hljs-string {
	color: var(--color-primary);
}

.hljs {
	display: block;
	overflow-x: auto;
	background: var(--color-dark-background);
	border-radius: var(--border-radius);
	padding: 1.25rem;
	font-family: 'JetBrains Mono', 'monospace';
}
