.environment {
    font-family: var(--font-monospace);
    font-variant: all-petite-caps;
    font-size: 1.25rem;
    letter-spacing: 0.25rem;
    color: var(--color-primary);
}

.steps {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-top: 3rem;
}
