.wrapper {
    padding: 1.25rem;
    background: var(--color-dark-background);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .name {
        font-size: 1.25rem;
    }

    .description {
        font-size: 1rem;
        color: var(--color-light-text);
    }

    .actions {
        display: flex;
        gap: 2rem;
        justify-content: end;

        & > * {
            cursor: pointer;
            display: flex;
            gap: 0.5rem;
        }

        .duplicate {
            color: var(--color-primary);

            path {
                stroke: var(--color-primary);
            }
        }

        .edit {
            color: var(--color-primary);
            text-decoration: none;

            path {
                stroke: var(--color-primary);
            }
        }

        .delete {
            color: var(--color-error);

            path {
                stroke: var(--color-error);
            }
        }
    }
}
