.wrapper {
    .name-and-version {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: 1.25rem;
        }

        .version {
            display: flex;
            align-items: center;
            gap: 0.25rem;
            color: var(--color-light-text);

            .icon {
                color: var(--color-light-text);
                width: 1rem;
            }
        }
    }

    h3 {
        color: var(--color-light-text);
        font-size: 1rem;
    }
}
