.wrapper {
  padding: 0.5rem 0;

  .label {
    font-size: 1rem;
    color: var(--color-light-text);
    margin-bottom: 0.5rem;
    display: block;
  }

  .input {
    background: var(--color-dark-background);
    border: none;
    padding: 0.8rem;
    color: white;
    border-radius: var(--border-radius);
  }

  .error {
    color: var(--color-error);
    display: block;
    margin-top: .25rem;
  }
}
