.div {
  padding: 0.5rem 0;

  .label {
    font-size: 0.8rem;
    color: #8e8e8e;
    margin-bottom: 0.5rem;
  }

  .input {
    background: #1f1f1f;
    border: none;
    padding: 0.5rem;
    color: white;
  }
}
