.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .info {
        display: flex;
        gap: 0.5rem;
        align-items: center;

        .failure-icon {
            color: var(--color-error);
        }

        .success-icon {
            color: var(--color-success);
        }
    }

    .details {
        color: var(--color-primary);
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 0.25rem;
    }
}
