.wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .commands {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 3rem;
    }

    .config {
        h2 {
            margin-bottom: 1rem;
        }
    }

    .button {
        width: fit-content;
        margin-bottom: 3rem;
    }
}
