.name-and-version {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        font-size: 1.25rem;
    }

    .version {
        display: flex;
        gap: 0.5rem;
        color: var(--color-light-text);

        .icon {
            width: 1rem;

            path {
                stroke: var(--color-light-text);
            }
        }
    }
}
