.wrapper {
    padding: 1.25rem;
    background: var(--color-dark-background);
    width: 100%;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    box-sizing: border-box;

    .info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .image {
            display: flex;
            align-items: center;
            gap: 1rem;

            .icon {
                width: 1rem;
            }

            & > div {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                color: var(--color-light-text);

                & > p {
                    font-family: var(--font-monospace);
                }
            }
        }
    }

    .config {
        .value {
            display: grid;
            grid-template-columns: 3fr 1fr 6fr;
            word-break: break-all;
            align-items: center;

            & > p {
                font-family: var(--font-monospace);
            }
        }
    }

    .actions {
        display: flex;
        justify-content: end;
        gap: 1rem;

        & > div {
            display: flex;
            align-items: center;
            gap: 0.25rem;
            cursor: pointer;
        }

        .edit {
            display: flex;
            gap: 0.25rem;
            align-items: center;
            color: var(--color-primary);
            text-decoration: none;

            .edit-icon {
                color: var(--color-primary);
            }
        }

        .delete {
            color: var(--color-error);
        }
    }
}
